p {
  color: black;
}
body {
  background-color: white;
}
.light {
  border-radius: 5px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  width: 100px;
  height: 100px;
}

table,
th,
td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  margin: 5 px;
  padding: 5px;
}
